* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: grey;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.menus {
    display: flex;
    list-style: none;
    font-size: 22px;
    gap: 18px;
    font-weight: bolder;

}

.banner-container {
    height: 100vh;
    background-image: url(asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(249, 4, 4, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20PX;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    margin: auto;
}

.digital {
    color: red;
}

.banner-container>h1,
p {
    padding: 10px;

}

.btn-1 {
    background-color: rgb(244, 11, 23);
    padding: 15px 30px;
    color: #f9f6f6;
    margin-right: 20px;

border: none;

}

.btn-2 {

    background-color: rgb(246, 241, 241);
    padding: 15px 30px;
    color: #0b0b0b;
    border: none;
margin-left: 20px;
}

.title {
    color: #faf8f8;
}
